.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 10px;

 
  padding: 10px;
}

.logo img {
  height: 25%;
  width: 25%;
}

.pages ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.pages li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.pages li a:hover {
  color: #007bff;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type='text'] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 8px;
}

.search-button:hover {
  color: #007bff;
}

.team-container {
  text-align: center;
  margin-bottom: 20px;
}

.team-container h2 {
  font-size: 24px;
}

.team-container p {
  font-size: 16px;
  color: #666;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.profile {
  text-align: center;
  width: 200px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile h3 {
  margin-top: 10px;
  font-size: 20px;
}

.profile p {
  margin-top: 5px;
  font-size: 16px;
  color: #666;
}


.f {
  background-color: #000;
  padding: 20px;
  color: #fff;
}

.f-c {
  display: flex;
  justify-content: space-between;
}

.f-s {
  flex: 1;
}

.f-h{
  font-size: 18px;
  margin-bottom: 10px;
}

.f-t {
  font-size: 14px;
  margin-bottom: 5px;
}
.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slideshow {
  display: flex;
  width: 400%;
}

.slide {
  flex: 0 0 25%;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
/* Footer Container */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
}

/* Footer Column */
.footer-column {
  flex-basis: 30%;
  margin-bottom: 20px;
}

/* Footer Column Title */
.footer-column h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Footer Column Content */
.footer-column p {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

/* Social Media Icons */
.social-media-icons a {
  display: inline-block;
  margin-right: 10px;
  color: whitesmoke;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: whitesmoke;
}

/* Footer Bottom */
.footer-bottom {
  background-color: whitesmoke;
  padding: 10px;
  text-align: center;
}

.footer-bottom p {
  font-size: 12px;
  color: #777;
  margin: 0;
}


.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.services-heading {
  text-align: center;
  font-size: 36px;
  color: #ff6f61;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.services-description {
  text-align: center;
  color: #555;
  margin-bottom: 50px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.service-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-description {
  text-align: center;
  color: #777;
  margin-bottom: 20px;
}

.service-image {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.service-image:hover {
  transform: scale(1.1);
}

.service-subtitle {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-subdescription {
  text-align: center;
  color: #777;
}
.head{
  align-items: center;
  text-align: center;
  font-size: x-large;
background-color: silver;
}

img{
  direction: ltr;
}


.product-page {
  
  display:flexbox;
  width:100%;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.product-image img {
  width: 800px;
  height: auto;
}

.product-details {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .product-image {
    width: 50%;
  }
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}





/* Styling for the form container */
.form-container {
  width: 300px;
  margin: 0 auto;
}

/* Styling for form labels */
.form-label {
  display: block;
  margin-bottom: 5px;
}

/* Styling for form inputs and textarea */
.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the submit button */
.form-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling for the submit button on hover */
.form-submit:hover {
  background-color: #0056b3;
}


.product-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #e65c00;
}



